@media screen and (min-width: 1700px) {

    .images__pandas {
        margin: 0 15%;
    }

    .glare {
        margin-left:0px;
        margin-top:-17%;
    }

    .scheme {
        height: 1000px;
    }
}